/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/



@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700;1,900&display=swap');

/* font-family: 'Bangers', cursive; */
/* font-family: 'Roboto', sans-serif; */

* {
box-sizing: border-box;
}

body {
margin: 0;
padding: 0;
font-family: 'Bangers', cursive;
font-size: 20px;
background-color: rgb(255, 255, 255);
}

.question-image {
  
  width: 80%;
}

img {
  width: 100%;
}

header {
margin: 50px 0;
text-align: center;
font-size: 40px;
color: rgba(255, 0, 0);
text-shadow:
3px 3px 0 #000,
-2px 3px #000,
3px -3px #000,
-3px -3px #000,
8px 10px 2px rgb(0, 0, 255);
}

h2 {
font-size: 32px;
text-align: center;
padding: 0 20px;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  width: 85%;
  margin-bottom: 5px;
}
.start-quiz {
font-size: 40px;
}

form > div {
  text-align: center;
}

main .question {
  padding: 0 0 20px 0;
}

.content {
 background-color: yellow;
 border: 3px solid  black ;
 border-radius: 5px;
 padding: 5px;
}

.right_answer_container {
  padding: 0 0 20px 0;
  font-size: 25px;
}

.answer-selections {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
}

.answer-selections form div {
  text-align: left;
}

.button-size {
  /* display: flex; */
  text-align: center;
  padding: 10px;
  /* align-items: center; */
  
}

.submit-answer {
  /* text-align: center; */
}

.scores-container-answer-page {
  text-align: center;
  font-size: 25px;
}
